<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style="background-color: #092a3a;">

<style>
.column {
  float: left;
  width: 2%;
}
.column1{
  float: left;
  width: 75%;
  height:40%;
  color: #008b8b;
}
.column2{
float: left;
width: 25%;
height: 40%;
color: #008b8b;
}
.button{
  background-color:#092a3a;
  color: #008b8b
}
</style>

<h2>Caregivers</h2>
<p style="color:aliceblue" id = "p1"> <p>

<div class = "column1">
<button (click)="createCaregiver()" class="button btn-info">Add new caregiver</button>
<table class="table table-striped" style = "background-color:#053e47;"> 
        <thead>
          <tr style = "color: #008b8b">
          <th>Id</th>
          <th>Name</th>
          <th>Birthday</th>
          <th>Gender</th>
          <th>Address</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let caregiver of caregivers;">
            <td>{{caregiver.idCaregiver}}</td>
            <td>{{caregiver.name}}</td>
            <td>{{caregiver.date}}</td>
            <td>{{caregiver.gender}}</td>
            <td>{{caregiver.address}}</td>
            <td>
              <div class = "column" style="background-color:#008b8b;">
                <button (click)="editCaregiver(caregiver)" class="button">Edit</button>
                <button (click)="deleteCaregiver(caregiver.idCaregiver)" class="button">Remove</button>
             </div>
            </td>
            
          </tr>
        </tbody>
      </table>
      <button (click)="navigateDoctorMain()" class="button">Return to main menu</button>
      </div>
      <div class = "column2">
        <div *ngIf="visible; then thenBlock else elseBlock"></div>
          <ng-template #thenBlock>
            <div *ngIf = "action; then cr else ed"></div>
          <ng-template #cr>
            <label style="font-size: large;">Add new caregiver</label>
          </ng-template>
          <ng-template #ed>
            <label style="font-size: large;">Update entry</label>
          </ng-template>
            <form>
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" required [(ngModel)]="newCaregiver.name" name="name">
              </div>
              
              <div class="form-group">
                <label for="name">Birthday</label>
                <input type="date" class="form-control" id="date" required [(ngModel)]="newCaregiver.date" name="date">
              </div>
             
              <div class="form-group">
                <label for="name">Gender</label>
                <select name="gender" class="form-control" id="gender" required [(ngModel)]="newCaregiver.gender">
                  <option *ngFor="let gender of genderList;">
                    {{gender}}
                  </option>
                </select>
              </div>

              <div class="form-group">
                <label for="name">Address</label>
                <input type="text" class="form-control" id="address" required [(ngModel)]="newCaregiver.address" name="address">
              </div>

              <div class="form-group">
                <label for="name">Password</label>
                <input type="text" class="form-control" id="password" required [(ngModel)]="newCaregiver.password" name="password">
              </div>

              <div class="form-group container">
                <label>Patients</label>
                <table class="table table-striped" style = "background-color:#053e47;"> 
                  <tbody>
                      <tr *ngFor = "let patient of truePatients">
                          <td>{{patient.name}}</td>
                          <td>
                               <input type="checkbox" class = "form-control" (change)="modifyCurrentPatients(patient);" checked>
                                
                          </td>
                      </tr>
                      <tr *ngFor = "let patient of falsePatients">
                        <td>
                          {{patient.name}}
                        </td>
                        <td>
                          <input type="checkbox" class = "form-control" (change)="modifyCurrentPatients(patient);">
                        </td>
                      </tr>
                  </tbody>
              </table>
          </div>
              <button type="button" (click)="onSubmit()" class="button">Submit</button>
              <button type="button" (click)="cancel()" class="button">Cancel</button>
            </form>
          </ng-template>
          <ng-template #elseBlock>.  .  .</ng-template>
      </div>
</body>
</html>
