<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style="background-color: #092a3a;">

<style>
.column {
  float: left;
  width: 2%;
}
.column1{
  float: left;
  width: 75%;
  height:40%;
  color: #008b8b;
}
.column2{
float: left;
width: 25%;
height: 40%;
color: #008b8b;
}
.button{
  background-color:#092a3a;
  color: #008b8b
}
</style>

<h2 style="color:aliceblue">Patients</h2>
<p style="color:aliceblue" id = "p1"> <p>
<div class = "column1">
<table class="table table-striped" style = "background-color:#053e47;"> 
        <thead>
          <tr style = "color: #008b8b">
          <th>Id</th>
          <th>Name</th>
          <th>Birthday</th>
          <th>Gender</th>
          <th>Address</th>
          <th>MedicalRecord</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let patient of patients;">
            <td>{{patient.idPatient}}</td>
            <td>{{patient.name}}</td>
            <td>{{patient.date}}</td>
            <td>{{patient.gender}}</td>
            <td>{{patient.address}}</td>
            <td>{{patient.record}}</td>
            <td>
                <button (click)="viewPrescription(patient.idPatient)" class="button">View Prescription</button>
            </td>
            
          </tr>
        </tbody>
      </table>
      <button (click)="navigateLogin()" class="button">Return to login</button>
      </div>
      <div class = "column2">
        <div *ngIf="visible; then thenBlock else elseBlock"></div>
          <ng-template #thenBlock>
            <form>
              <table class="table table-striped" style = "background-color:#053e47;"> 
                <tbody>
                  <tr *ngFor = "let medInfo of currentMedInfos">
                    <td>
                      {{medInfo.medication.name}}
                      {{medInfo.interval}}
                      {{medInfo.period}}
                    </td>
                  </tr>
              </table>

              <div>
                <button (click)="cancel()" class="button">cancel</button>
              </div>
            </form>
          </ng-template>
          <ng-template #elseBlock>.  .  .</ng-template>
      </div>
</body>
</html>
